#footer{
    margin-top: 70%;
    padding: 20px;
    clear: both;
    position: relative;
    color: #fff;
    background:#333;
}


.navItem:hover {
    background: rgb(104, 164, 255);
}

.active1 {
    background: rgb(23, 116, 255);

}

a,a:hover {
    text-decoration: none;
}

#navbar {
    transition: top 0.4s;

}

.leftmargin {

    margin-inline-start: 7%;
}


.dropdown:hover>.dropdown-menu>.dropdown-item:hover {
    //display: block;
    background: rgb(194, 220, 255);

}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgb(214, 233, 255);
 }

/*

*/
